.divForm{
    display: flex;
    justify-content: center;
}
.form{
    width: 60%;
    margin-top:-4rem;
    padding-top:1.5rem;
   

    display: flex;
   
    gap: 1rem;

}

.form textarea{
    width: 100%;
    background-color: var(--gray-400);
    border: none;
    resize: none;
    height: 3rem;
    padding:1rem;
    border-radius:8px;
    
    color: var(--gray-200);
    line-height:1.4;
    margin-top: 1rem ;

    overflow: hidden;

}


.form textarea::placeholder{
    margin: 0 auto;
}


.form button[type=submit]{
    padding: 0.9rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--blue-dark);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content:space-between;

    gap: 0.5rem;

    transition: background-color 0.1s;
}

.form button[type=submit]:hover{
    background: var(--blue);
}

