.taskTable{
    width:60%;
   
    gap: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 5rem auto;

    
    
}

.tableStats{
    display:flex;
    justify-content: space-between;
    
    margin-bottom: 1.5rem;
    
}


.createdTasks span{
    color: var(--blue)
}

.createdTasks strong{
    padding: 0 0.5rem;
    background: var(--gray-400);
    color: var(--gray-200);

    border-radius: 16px;
    margin-left: 8px;
    
}

.finishedTasks span{
    color: var(--purple)
}

.finishedTasks strong{
    padding: 0 0.5rem;
    background: var(--gray-400);
    color: var(--gray-200);

    border-radius: 16px;
    margin-left: 8px;
    
}






.divForm{
    display: flex;
    justify-content: center;
}
.form{
    width: 60%;
    margin-top:-4rem;
    padding-top:1.5rem;
   

    display: flex;
   
    gap: 1rem;

}

.form textarea{
    width: 100%;
    background-color: var(--gray-400);
    border: none;
    resize: none;
    height: 3rem;
    padding:1rem;
    border-radius:8px;
    
    color: var(--gray-200);
    line-height:1.4;
    margin-top: 1rem ;

    overflow: hidden;

}


.form textarea::placeholder{
    margin: 0 auto;
}


.form button[type=submit]{
    padding: 0.9rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--blue-dark);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content:space-between;

    gap: 0.5rem;

    transition: background-color 0.1s;
}

.form button[type=submit]:hover{
    background: var(--blue);
}

