.taskTable{
    width:60%;
   
    gap: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 5rem auto;

    
    
}

.tableStats{
    display:flex;
    justify-content: space-between;
    
    margin-bottom: 1.5rem;
    
}


.createdTasks span{
    color: var(--blue)
}

.createdTasks strong{
    padding: 0 0.5rem;
    background: var(--gray-400);
    color: var(--gray-200);

    border-radius: 16px;
    margin-left: 8px;
    
}

.finishedTasks span{
    color: var(--purple)
}

.finishedTasks strong{
    padding: 0 0.5rem;
    background: var(--gray-400);
    color: var(--gray-200);

    border-radius: 16px;
    margin-left: 8px;
    
}



